### Pattern 1

In [13]:
n = 5

for i in range(n, 0, -1):
  for j in range(0, i):
    print(n, end=' ')

  print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

### Pattern 2

In [14]:
n = 5

for i in range(n, 0, -1):
  for j in range(0, i + 1):
    print(j, end='  ')

  print()

0  1  2  3  4  5
0  1  2  3  4
0  1  2  3
0  1  2
0  1

### Pattern 3

In [12]:
n = 1

for i in range(1,6):
  for j in range(1,i+1):
    print(n,end=' ')
  n+=2
  print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

### Pattern 4

In [ ]:
n = 5

for i in range(n):
  for j in range(i, -1, -1):
    print(j+1, end=' ')

  print('')

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

Pattern 5

In [19]:
s1 = 1
s2 = 2
n = s2

for row in range(2, 6):
  for col in range(s1, s2):
    n -= 1
    print(n, end=' ')

  print('')

  s1 = s2
  s2 += row
  n = s2

1
3 2
6 5 4
10 9 8 7

### Pattern 6

In [27]:
n = 7
p = 1

for i in range(1, n+1):
    
    for j in range(0, i):
        if j==0 or i==0:
            p = 1
        else:
            p = p * (i - j)//j
        print(p, end = " ")
    print()

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

### Pattern 7

In [23]:
n = 5
for i in range(1, n + 1):  
    for j in range(1, n + 1):  
        if j <= i:  
            print(i, end=' ')  
        else:  
            print(j, end=' ')  
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

### Pattern 8

In [ ]:
n = 9
for i in range(1, n):  
    for j in range(1, i + 1):  
        print(i * j, end='  ')  
    print()

1
2  4
3  6  9
4  8  12  16
5  10  15  20  25
6  12  18  24  30  36
7  14  21  28  35  42  49
8  16  24  32  40  48  56  64

### Pattern 9

In [ ]:
n = 5  
k = 2 * n - 2  
for i in range(n, -1, -1):  
    for j in range(k, 0, -1):  
        print(end=" ")  
    k = k + 1  
    for j in range(0, i + 1):  
        print("*", end=" ")  
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

### Pattern 10

In [ ]:
n = 5
m = (2 * n) - 2  
for i in range(0, n):  
    for j in range(0, m):  
        print(end=" ")  
    m = m - 1    
    for j in range(0, i + 1):  
        print("* ", end=' ')  
    print(" ")

        *
       *  *
      *  *  *
     *  *  *  *
    *  *  *  *  *

### Pattern 11

In [6]:
n = 6
for i in range(0, n):
    for j in range(0, i + 1):
        print("*", end=' ')
    print(" ")

print(" ")

for i in range(n + 1, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

### Pattern 12

In [5]:
n = 5
for i in range(0, n):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(n, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

### Pattern 13

In [2]:
n = 5
k = 2 * (n - 1)
for i in range(1,6):
  for j in range(k,0,-1):
    print(end = ' ')
  k=k-2
  for j in range(i+1, 1 , -1):
    print('* ', end = '')
  print()

n = 4
k = (n-2)
for i in range(4,0,-1):
  for j in range(0,k):
    print(end = ' ')
  k=k+2
  for j in range(1,i+1):
    print('* ', end = '')
  print()

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

### Pattern 14

In [3]:
n = 5
for i in range(n, 0, -1):
    for j in range(n-i):
        print(" ", end="")
    for j in range(1, 2*i):
        print("*", end="")
    print()

for i in range(2, n+1):
    for j in range(n-i):
        print(" ", end="")
    for j in range(1, 2*i):
        print("*", end="")
    print()

*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

### Pattern 15

In [4]:
n = 14
print("*" * n, end="\n")
i = (n // 2) - 1
j = 2
while i != 0:
    while j <= (n - 2):
        print("*" * i, end="")
        print("_" * j, end="")
        print("*" * i, end="\n")
        i = i - 1
        j = j + 2

**************
******__******
*****____*****
****______****
***________***
**__________**
*____________*